<!--- ### CONTENT START ### --->
{strip}{$STATUSMSG}
<table bgcolor="{$tablebg}" cellpadding="2" width="{$tablewidth}" cellspacing="1" border="0" align="center">
    <tr>
        <td background="{$STYLES_URL}/{$STYLE}/images/gfx/verlauf.gif" class="navtitel">&nbsp;&nbsp;&nbsp;<b>&raquo;&nbsp;{$CONTENTTITEL}</b></td>
    </tr>
	<tr width="100%">
     	<td class="tB1L">
            <table align="center" border="0" cellpadding="1" cellspacing="1" width="100%">
                <tr>
                  	<td valign="top" class="tB1L">{$CONTENTINHALT}
                  	</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{/strip}
<!--- ### CONTENT END ### --->
