<!--- ### FOOTER START ### ---> 
{if $useronline_on == 1} 
<br> 
<table bgcolor="{$tablebg}" align="center" border="0" cellpadding="2" cellspacing="1" width="{$tablewidth}"> 
    <tr> 
        <td colspan="2" background="{$STYLES_URL}/{$STYLE}/images/gfx/verlauf.gif" class="navtitel"><b>&nbsp;&nbsp;&nbsp;&raquo;&nbsp;User online innerhalb der letzten {$onlinetimeout_minutes} Minuten</b></td> 
    </tr> 
   <tr> 
        <td width="5%" class="tB1C"><img SRC="{$STYLES_URL}/{$STYLE}/images/icons/2smile.gif" BORDER="0"></td> 
        <td class="tA1L">{$useronline_onlinenum_formatted} 
            {$useronline_onlineuser_formatted} 
        </td> 
    </tr> 
</table> 
{/if} 
{if $usertodayonline_on == 1} 
<br> 
<table bgcolor="{$tablebg}" align="center" border="0" cellpadding="2" cellspacing="1" width="{$tablewidth}"> 
    <tr> 
        <td colspan="2" background="{$STYLES_URL}/{$STYLE}/images/gfx/verlauf.gif" class="navtitel"><b>&nbsp;&nbsp;&nbsp;&raquo;&nbsp;User die heute online waren</b></td> 
    </tr> 
   <tr> 
        <td width="5%" class="tB1C"><img SRC="{$STYLES_URL}/{$STYLE}/images/icons/online.gif" BORDER="0"></td> 
        <td class="tA1L">{$usertodayonline_num_formatted} 
            {$usertodayonline_user_formatted} 
        </td> 
    </tr> 
</table> 
{/if} 
<br> 
<table bgcolor="{$tablebg}" align="center" border="0" cellpadding="2" cellspacing="1" width="{$tablewidth}"> 
    <tr> 
        <td class="tC1C"> 
            <table align=center border="0" cellpadding="0" cellspacing="0" width="100%"> 
                <tr> 
                    <td class="tC1L"> 
                        &nbsp;[ <a {$HELPSYS_NAV_IMPRESSUM} href="{$REL_URL}/index.{$SUFFIX}?s=impressum{$SID2}">Impressum</a> ] 
                    </td>{if $LOADTIME != ""} 
                    <td class="tC1C"> 
                        {$LOADTIME} 
                    </td>{/if} 
                    <td class="tC1R"> 
                        [ <a {$HELPSYS_NAV_COPYRIGHT} href="{$REL_URL}/index.{$SUFFIX}?s=credits{$SID2}">APCMS v{$APCMSVERSION} &copy; 2000-</a>&nbsp; &nbsp; &nbsp;<a {$HELPSYS_NAV_COPYRIGHT} href="http://www.php-programs.de/" target="_blank">APP - Another PHP Program</a> ]&nbsp; 
                    </td> 
                </tr> 
            </table> 
        </td> 
    </tr> 
</table> 
{$DEBUGOUT}
<!--- ### FOOTER END ### ---> 
</body> 
</html> 
